* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  max-width: 1500px;
  margin: auto;
  padding: 1rem;
  position: relative;
  background: #3d1766;
}
.loader {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform: perspective(500px) rotateX(54deg);
}
.loader span {
  position: absolute;
  display: block;
  /* border: solid 1px #fff; */
  /* box-shadow: 0 5px 0 #ccc, inset 0 5px #ccc; */
  box-sizing: border-box;
  border-radius: 50%;
  animation: animate 2s cubic-bezier(0.4, 0, 1, 1) infinite;
  margin-top: 4rem;
  font-size: 4rem;
  padding: 2rem;
  font-weight: bold;
}

@keyframes animate {
  0%,
  100% {
    transform: translateZ(200px);
  }
  50% {
    transform: translateZ(-50px);
  }
}
.loader span:nth-child(1) {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation-delay: 1s;
}
.loader span:nth-child(2) {
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  animation-delay: 0.9s;
}
.loader span:nth-child(3) {
  top: 30px;
  left: 20px;
  bottom: 30px;
  right: 20px;
  animation-delay: 0.8s;
}
.loader span:nth-child(4) {
  top: 50px;
  left: 30px;
  bottom: 50px;
  right: 30px;
  animation-delay: 0.7s;
}
.loader span:nth-child(5) {
  top: 70px;
  left: 40px;
  bottom: 70px;
  right: 40px;
  animation-delay: 0.6s;
}
.loader span:nth-child(6) {
  top: 90px;
  left: 50px;
  bottom: 90px;
  right: 50px;
  animation-delay: 0.5s;
}
.loader span:nth-child(7) {
  top: 110px;
  left: 60px;
  bottom: 110px;
  right: 60px;
  animation-delay: 0.4s;
}
.loader span:nth-child(8) {
  top: 130px;
  left: 70px;
  bottom: 130px;
  right: 70px;
  animation-delay: 0.3s;
}
.loader span:nth-child(9) {
  top: 150px;
  left: 80px;
  bottom: 150px;
  right: 80px;
  animation-delay: 0.2s;
}
.loader span:nth-child(10) {
  top: 170px;
  left: 90px;
  bottom: 170px;
  right: 90px;
  animation-delay: 0.1s;
}
#difficulty-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 2.5s ease-out, transform 0.5s ease-out;
}

#difficulty-select {
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
  transition: all 2.5s ease-out;
}

#start-game-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border: none;
  transition: all 2.5s ease-out;
}

#difficulty-section.show {
  opacity: 1;
  transform: translateX(0);
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 900;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem;
}

.high-scores {
  text-decoration: none;
  color: #000;
  position: relative;
  letter-spacing: 0.5px;
  display: unset;
}
.high-scores::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #cd0404;
  bottom: -5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.high-scores:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.no-high-score {
  display: none;
}
.score-section {
  text-align: center;
}
.show-scores {
  display: none;
  position: absolute;
  width: 29rem;
  height: 25rem;
  background-color: #fff;
  box-shadow: 0 0 2px rgb(248, 248, 28);
  z-index: 1;
  border-radius: 5px;
  padding: 1rem;
}

.close-modal {
  position: absolute;
  right: -15px;
  top: -5px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(100, 19, 19);
  font-size: 1.2rem;
  color: #4b6055;
}
.high-score-text {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 700;
  color: #ff0032;
  margin-bottom: 1rem;
}
.modal-buttons {
  width: 6rem;
  height: 2rem;
}
.close-modal-section {
  display: none;
  justify-content: center;
}
.no-score {
  color: #ff0032;
}
.container {
  width: 24rem;
  display: grid;
  grid-template-areas:
    "mole-1"
    "mole-2"
    "mole-3";
  grid-template-columns: auto auto auto;
  gap: 4rem 1rem;
}
.mole-1,
.mole-2,
.mole-3 {
  height: 3.5rem;
  margin-top: 2rem;
  background-color: black;
  border-radius: 50%;
  position: relative;
}
h3 {
  text-align: center;
  font-weight: 900;
  margin-top: -1.5rem;
}
h5 {
  margin-right: 5rem;
}
.game-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
button {
  cursor: pointer;
  padding: 0.2rem 1rem;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 0.5rem 0 0 4rem;
}
.mole-img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: url("/mole.png") no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  margin-left: 1rem;
  visibility: hidden;
}
.animation {
  visibility: visible;
}

@keyframes elevate {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(-90px);
  }
  100% {
    transform: translateY(-20px);
  }
}
table {
  width: 100%;
}
tr {
  font-size: 2rem;
  font-weight: bold;
}
td {
  border-bottom: solid 2px #ff0032;
}
.number {
  width: 20%;
}
.play-again-button {
  margin-left: -1rem;
}
