.book-link {
  opacity: 0.4;
}

.main-content {
  height: auto;
  min-height: 100vh;
}

.find-character {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.find-character h3 {
  color: #000;
  width: 100%;
  max-width: 380px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bolder;
  padding: 0.5rem 1rem;
  letter-spacing: 0.3px;
}
.h1-titles {
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px rgb(128 128 128 / 50%);
}

.h1-titles sub {
  font-size: 0.8rem;
  letter-spacing: 0.3px;
}
.content-search {
  padding: 0 0.5rem;
  font-size: 0.8rem;
  height: 2rem;
  width: 100%;
  border: solid 1px grey;
  outline: none;
  max-width: 500px;
}
.content-search:active,
.content-search:focus {
  border: none;
  box-shadow: 0 0 2px #f15412;
}
::placeholder {
  font-size: 0.65rem;
}
.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 0.5rem 0;
}

footer {
  text-align: center;
  word-spacing: 5px;
  color: rgb(8 8 8);
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: -0.5rem;
}
.pagination button {
  width: 2.3rem;
  height: 2rem;
  font-size: 0.8rem;
  color: rgb(84 79 79);
  font-weight: 700;
  margin-left: 0.8rem;
  opacity: 0.9;
  background: rgb(255 255 255 / 90%);
  outline: none;
  border: solid 1px #9b9b9b;
  border-radius: 3px;
}
.pagination span {
  align-self: center;
  margin-left: 0.2rem;
  font-size: 0.9rem;
  font-weight: 600;
  margin-right: -0.5rem;
  color: hsl(0deg 1% 43%);
}
.pagination .max-content {
  margin-right: 1rem;
}
.character-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.character-section-items {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgb(255 255 255 / 19%);
  box-shadow: 0 0 4px #8d7979;
  max-width: 900px;
  width: 100%;
}
.character-section-items:hover {
  background-color: rgb(255 255 255 / 32%);
}
.character-section-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
  margin-bottom: 1rem;
}
.gender-image {
  width: 2rem;
  height: 2rem;
  filter: invert(84%) sepia(27%) saturate(2812%)
    hue-rotate(359deg) brightness(104%) contrast(101%);
  background-color: invert(84%) sepia(27%) saturate(2812%)
    hue-rotate(359deg) brightness(104%) contrast(101%);
  margin-right: 0.3rem;
}
.female {
  filter: invert(44%) sepia(67%) saturate(1082%)
    hue-rotate(347deg) brightness(94%) contrast(91%);
}
.unknown {
  width: 1.4rem;
  height: 1.4rem;
  filter: none;
}
.character-name {
  font-size: 1.2em;
}
.character-name a {
  text-decoration: none;
  padding-bottom: 0.2rem;
  color: #000;
  letter-spacing: 1px;
}
.character-name a:hover {
  color: #0a0a0a;
  border-bottom: solid 1px #5c5454;
  transition: color 1s;
}
.birth-text,
.gender-text,
.race-text,
.death-text,
.spouse-text,
.realm-text,
.hair-text {
  margin-left: 0.7rem;
  font-size: 0.8rem;
  color: #000;
  max-width: 12rem;
  letter-spacing: 1px;
  margin-top: 0.01rem;
}
.view-more-text {
  display: none;
  position: absolute;
  font-size: 0.7rem;
  color: #000;
  text-shadow: 0 0 2px #f15412;
  align-self: flex-end;
  text-decoration: none;
  margin-right: 0.5rem;
  cursor: pointer;
  transform: translate(0px, -55px);
}
.hair-text,
.realm-text {
  display: none;
}
.pagination .min-content,
.pagination .max-content {
  background-color: rgb(255 255 255 / 61%);
}
.header-section {
  display: flex;
  align-items: center;
}
.btn-section {
  border: none;
  background: transparent;
}
.btn-section.active .star-img {
  filter: invert(27%) sepia(63%) saturate(2858%)
    hue-rotate(23deg) brightness(100%) contrast(98%);
}
.more-info {
  opacity: 0;
}
.pagination .previous {
  background-color: rgb(255 255 255 / 90%);
  cursor: pointer;
}
.pagination .previous-button {
  background: rgb(255 255 255 / 61%);
  cursor: not-allowed;
}
.next {
  cursor: pointer;
}
.pagination .next-button {
  background: rgb(255 255 255 / 61%);
  cursor: not-allowed;
}
.filter-section {
  display: flex;
  padding: 0 1rem;
}
.filter-section p {
  letter-spacing: 1px;
  font-weight: 500;
}

.navigation select {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  color: #fff;
  opacity: 0.5;
  padding: 0 0.5rem 0 0.3rem;
  margin: 0 0 0 0.65rem;
  width: 100%;
  font-family: inherit;
  outline: none;
  appearance: none;
  cursor: pointer;
}
.navigation select:hover {
  color: #f15412;
  opacity: 0.5;
}
.navigation select:active,
.navigation select:focus {
  color: #ca886c;
  opacity: 0.8;
}
.navigation select option {
  background-color: transparent;
  outline: none;
}

.select {
  width: 100%;
  min-width: 9rem;
  max-width: 30rem;
  border: 1px solid var(--select-border);
  padding: 0 0.1rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: transparent;
  display: grid;
  grid-template-areas: "select";
  align-items: center;
}

option a {
  font-size: 1.2rem;
  color: green;
}
select::-ms-expand {
  display: none;
}
.not-found {
  font-size: 0.9rem;
  color: #000;
}

#gender-select {
  background-color: transparent;
  border: none;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: #100f0f;
}
.gender {
  width: 3rem;
}
.gender-type {
  width: 4rem;
}
.gender-option {
  width: 5rem;
}
#gender-select > option {
  width: 50px;
}
#gender-select:focus,
#gender-select:active {
  outline: none;
}
.gender-option {
  width: 5rem;
}
.holder {
  width: 100%;
  position: relative;
  bottom: 0;
}

.footer-text {
  font-weight: bold;
  color: #9b9893;
}
.favorite-text {
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (min-width: 500px) {
  .view-more-text {
    display: block;
    bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .h1-titles {
    font-size: 4.5rem;
  }
  .navigation ul {
    align-items: center;
  }
  .navigation select {
    font-size: 1.2rem;
    color: #100f0f;
  }
  .not-found {
    font-size: 2rem;
    text-shadow: 0 0 1px #f15412;
  }
}
