.book-link {
  opacity: 0.4;
}

.main-content {
  height: auto;
  min-height: 100vh;
}

.find-character {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.find-character h3 {
  color: #000;
  width: 100%;
  max-width: 400px;
  text-align: center;
  font-size: 0.7em;
  font-weight: bolder;
  padding: 0.5rem 0;
}
.h1-titles {
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px rgb(128 128 128 / 50%);
}

.h1-titles sub {
  font-size: 0.8rem;
}
.content-search {
  padding: 0 0.5rem;
  font-size: 0.8rem;
  height: 2rem;
  width: 100%;
  border: none;
  outline: none;
  max-width: 500px;
}
::placeholder {
  font-size: 0.65rem;
}
.pagination {
  display: flex;
  justify-content: center;
}
.pagination button {
  width: 1.5rem;
  font-size: 1.2rem;
  color: rgb(84 79 79);
  font-weight: 400;
  margin-left: 0.8rem;
  opacity: 0.9;
  background: rgb(255 255 255 / 90%);
  outline: none;
  border: solid 1px #9b9b9b;
  border-radius: 3px;
}
.pagination span {
  align-self: center;
  margin-left: 0.2rem;
  font-size: 0.9rem;
  font-weight: 600;
  margin-right: -0.5rem;
}
.pagination .max-content {
  margin-right: 1rem;
}
.character-section {
  padding: 1rem;
}
.character-section-items {
  /* width: ; */
  padding: 1rem 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgb(255 255 255 / 19%);
  box-shadow: 0 0 4px #8d7979;
}
.character-section-items:hover {
  background-color: rgb(255 255 255 / 32%);
}
.character-section-header {
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: none;
  margin-bottom: 1rem;
}
.gender-image {
  width: 2rem;
  height: 2rem;
  filter: invert(84%) sepia(27%) saturate(2812%)
    hue-rotate(359deg) brightness(104%) contrast(101%);
  background-color: invert(84%) sepia(27%) saturate(2812%)
    hue-rotate(359deg) brightness(104%) contrast(101%);
  margin-right: 1rem;
}
.female {
  filter: invert(44%) sepia(67%) saturate(1082%)
    hue-rotate(347deg) brightness(94%) contrast(91%);
}
.character-name {
  font-size: 1rem;
}
.character-name a {
  text-decoration: none;
  padding-bottom: 0.2rem;
  color: #000;
  letter-spacing: 1px;
}
.character-name a:hover {
  /* text-decoration: underline; */
  /* padding-bottom: 1.5rem; */
  color: #0a0a0a;
  border-bottom: solid 1px #5c5454;
  transition: color 1s;
}
.birth-text,
.gender-text {
  margin-left: 0.7rem;
  font-size: 0.8rem;
  color: #000;
}
